<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razerzone.cocos2dpluginrazersdk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

    </application>

</manifest>
